:root {
  --title-color: #212121;
  --subtitle-color: #757575;
  --hover-focus-color: #2196f3;
  --logo-color-light: #ffffff;
  --logo-color-dark: #000000;
  --icons: #afb1b8;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--title-color);
}
img {
  display: block;
  min-width: 100%;
  height: auto;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
p,
h1,
h2,
h3 {
  margin: 0;
}
