.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color-light);
}
.contacts-list-footer {
  margin-top: 20px;
}
.contacts-list-footer .item {
  margin-bottom: 9px;
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.contacts-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.connect {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.flex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-social-list {
  display: flex;
}
.footer-social-list .item + .item {
  margin-left: 10px;
}
.footer-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #ffffff;

  width: 44px;
  height: 44px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: #ffffff;
    background-color: var(--hover-focus-color);
  }
}
.footer-social-icons {
  width: 20px;
  height: 20px;
}
