.background {
  background-color: #f5f4fa;
}
.hero-fourth-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}
.list-users {
  display: flex;
  text-align: center;
}
.list-users .users + .users {
  margin-left: 30px;
}
.list-users .users {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.user-thumb {
  padding-top: 30px;
  padding-bottom: 30px;
}
.user {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
  width: 270px;
  margin-bottom: 10px;
}
.job-user {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
  margin-bottom: 16px;
}
.users-social-list {
  display: flex;
  justify-content: center;
}
.users-social-list .item + .item {
  margin-left: 10px;
}
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icons);

  width: 44px;
  height: 44px;
  border-radius: 50px;

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons {
  width: 20px;
  height: 20px;
}
.social-links:hover,
.social-links:focus {
  fill: #ffffff;
  background-color: var(--hover-focus-color);
}
